<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/dist/main.css">

    <title>ENGLISH-X　塾長 佐藤圭（さとk）監修の英語塾 | 目黒の難関大学・高校受験対策英語塾でNO.1！【ENGLISH-X】</title>
</head>
<body>
    <header>
        <h1>
            <a href="https://englishx.jp">
                <img src="../img/logo.png">
            </a>
        </h1>
    </header>

        <div id="main_wrapper">
            <div id="main_content">

                <img src="../img/top.png">
                <div id="title">
                    <p>
                        <span>難関高校・難関大学合格</span>に向けた<br>
                        最速独自の<span>完全カスタマイズ授業</span>
                    </p>
                </div>

                <div id="free_trial">
                    <img src="../img/free_trial.png">
                </div>

                <div id="content_example">
                    <img src="../img/ex_title.png">

                    <ul>
                        <li>
                            <img src="../img/ex_icon/ex_01.png">
                            <p>
                            ４技能の本質を<br>
                            最適なタイミングで学べる
                            </p>
                        </li>

                        <li>
                            <img src="../img/ex_icon/ex_02.png">
                            <p>希望や目標のペースに合わせる</p>
                        </li>

                        <li>
                            <img src="../img/ex_icon/ex_03.png">
                            <p>結果を出すことにフォーカス</p>
                        </li>

                        <li>
                            <img src="../img/ex_icon/ex_04.png">
                            <p>独学しやすいオリジナル&市販教材</p>
                        </li>

                        <li>
                            <img src="../img/ex_icon/ex_05.png">
                            <p>毎回小テストがある</p>
                        </li>

                        <li>
                            <img src="../img/ex_icon/ex_06.png">
                            <p>いつでも進路・学習相談できる！</p>
                        </li>
                    </ul>
                    <img src="../img/main_buttom.png">
                </div>
            </div>

            <div id="banner">
                <img src="../img/banner.png">
            </div>

            <div id="deviation">
                <p>MNさんの英語偏差値の推移</p>
                <img src="../img/deviation.png">
            </div>

            <div id="reason">
                <p class="title">英語塾ENGLISH-Xの個別指導で<br>
                    英語が上達する6つの理由
                </p>
                <ul>
                    <li>
                        <img src="../img/ex_icon/ex_01.png">
                        <p class="contents_title">
                        ４技能の本質を<br>
                        最適なタイミングで学べる</p>
                        <p class="discription">全講師が4技能に精通！単語・暗記にたよらない！</p>
                    </li>

                    <li>
                        <img src="../img/ex_icon/ex_02.png">
                        <p class="contents_title">希望や目標のペースに合わせる</p>
                        <p class="discription">完全カスタマイズの個別指導</p>
                    </li>

                    <li>
                        <img src="../img/ex_icon/ex_03.png">
                        <p class="contents_title">結果を出すことにフォーカス</p>
                        <p class="discription">大手進学塾人気No.1講師だった塾長<br>
                            佐藤圭(さとk)が全生徒のカリキュラム監修</p>
                    </li>

                    <li>
                        <img src="../img/ex_icon/ex_04.png">
                        <p class="contents_title">独学しやすいオリジナル&市販教材</p>
                        <p class="discription">解説&回答がしっかりある教材を厳選！</p>
                    </li>

                    <li>
                        <img src="../img/ex_icon/ex_05.png">
                        <p class="contents_title">毎回小テストがある</p>
                        <p class="discription">予習をしっかりする仕組み！</p>
                    </li>

                    <li>
                        <img src="../img/ex_icon/ex_06.png">
                        <p class="contents_title">いつでも進路・学習相談できる！</p>
                        <p class="discription">塾長と担当講師が親身に対応！</p>
                    </li>
                </ul>
            </div>

            <div id="plan">
                <p class="title">ENGLISH-Xの<span>プラン</span></p>
                <ul>
                    <li>
                        <div class="monthly">
                            <img src="../img/room01.png">
                            <div class="table">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>時間</th>
                                            <td>90分 (自学演習の時間を含む)</td>
                                        </tr>

                                        <tr>
                                            <th>授業体制</th>
                                            <td>小集団個人別授業 (先生1対生徒1~5)</td>
                                        </tr>

                                        <tr>
                                            <th>特典</th>
                                            <td>自習での教室利用可能</td>
                                        </tr>

                                        <tr>
                                            <th>月謝</th>
                                            <td>5万円 (月4回授業)</td>
                                        </tr>

                                        <tr>
                                            <th>場所</th>
                                            <td>教室での授業 (目黒駅徒歩2分)</td>
                                        </tr>

                                        <tr>
                                            <th>住所</th>
                                            <td>〒153-006<br>
                                                東京都目黒区目黒1-4-8ニュー目黒ビル4階</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                            <!-- ここに表を入れる -->
                            <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d1621.3715531114358!2d139.71432309520685!3d35.63405909851241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x60188b1eb6dc8f69%3A0x85624a5276fc423e!2z55uu6buS6aeF44CB44CSMTQxLTAwMjEg5p2x5Lqs6YO95ZOB5bed5Yy65LiK5aSn5bSO77yS5LiB55uu!3m2!1d35.6340929!2d139.7158331!4m5!1s0x60188b18e1ca0cc7%3A0x2f7567ee7c9b700b!2z44CSMTUzLTAwNjMg5p2x5Lqs6YO955uu6buS5Yy655uu6buS77yR5LiB55uu77yU4oiS77yYIOODi-ODpeODvOebrum7kuODk-ODqyA06ZqO!3m2!1d35.6342837!2d139.7140551!5e0!3m2!1sja!2sjp!4v1614260569476!5m2!1sja!2sjp" width="358" height="358" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            <div class="online">




                            </div>
                        </div>
                    </li>

                    <li>
                        <!-- <div class="monthly"> -->

                    </li>

                </ul>

            </div>
        </div>
</body>
</html>
