<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/dist/main.css">

    <title>ENGLISH-X　塾長 佐藤圭（さとk）監修の英語塾 | 目黒の難関大学・高校受験対策英語塾でNO.1！【ENGLISH-X】</title>
</head>
<body>
    <header>
        <h1>
            <a href="https://englishx.jp">
                <img src="../img/logo.png">
            </a>
        </h1>
    </header>

        <div id="main_wrapper">
            <div id="main_content">

                <img src="../img/top.png">
                <div id="title">
                    <p>
                        <span>難関高校・難関大学合格</span>に向けた<br>
                        最速独自の<span>完全カスタマイズ授業</span>
                    </p>
                </div>

                <div id="free_trial">
                    <img src="../img/free_trial.png">
                </div>

                <div id="content_example">
                    <img src="../img/ex_title.png">

                    <ul>
                        <li>
                            <img src="../img/ex_icon/ex_01.png">
                            <p>
                            ４技能の本質を<br>
                            最適なタイミングで学べる
                            </p>
                        </li>

                        <li>
                            <img src="../img/ex_icon/ex_02.png">
                            <p>希望や目標のペースに合わせる</p>
                        </li>

                        <li>
                            <img src="../img/ex_icon/ex_03.png">
                            <p>結果を出すことにフォーカス</p>
                        </li>

                        <li>
                            <img src="../img/ex_icon/ex_04.png">
                            <p>独学しやすいオリジナル&市販教材</p>
                        </li>

                        <li>
                            <img src="../img/ex_icon/ex_05.png">
                            <p>毎回小テストがある</p>
                        </li>

                        <li>
                            <img src="../img/ex_icon/ex_06.png">
                            <p>いつでも進路・学習相談できる！</p>
                        </li>
                    </ul>
                    <img src="../img/main_buttom.png">
                </div>
            </div>

            <div id="banner">
                <img src="../img/banner.png">
            </div>

            <div id="deviation">
                <p>MNさんの英語偏差値の推移</p>
                <img src="../img/deviation.png">
            </div>

            <div id="reason">
                <p class="title">英語塾ENGLISH-Xの個別指導で<br>
                    英語が上達する6つの理由
                </p>
                <ul>
                    <li>
                        <img src="../img/ex_icon/ex_01.png">
                        <p class="contents_title">
                        ４技能の本質を<br>
                        最適なタイミングで学べる</p>
                        <p class="discription">全講師が4技能に精通！単語・暗記にたよらない！</p>
                    </li>

                    <li>
                        <img src="../img/ex_icon/ex_02.png">
                        <p class="contents_title">希望や目標のペースに合わせる</p>
                        <p class="discription">完全カスタマイズの個別指導</p>
                    </li>

                    <li>
                        <img src="../img/ex_icon/ex_03.png">
                        <p class="contents_title">結果を出すことにフォーカス</p>
                        <p class="discription">大手進学塾人気No.1講師だった塾長<br>
                            佐藤圭(さとk)が全生徒のカリキュラム監修</p>
                    </li>

                    <li>
                        <img src="../img/ex_icon/ex_04.png">
                        <p class="contents_title">独学しやすいオリジナル&市販教材</p>
                        <p class="discription">解説&回答がしっかりある教材を厳選！</p>
                    </li>

                    <li>
                        <img src="../img/ex_icon/ex_05.png">
                        <p class="contents_title">毎回小テストがある</p>
                        <p class="discription">予習をしっかりする仕組み！</p>
                    </li>

                    <li>
                        <img src="../img/ex_icon/ex_06.png">
                        <p class="contents_title">いつでも進路・学習相談できる！</p>
                        <p class="discription">塾長と担当講師が親身に対応！</p>
                    </li>
                </ul>
            </div>

        </div>
</body>
</html>
