<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/dist/main.css">

    <title>ENGLISH-X　塾長 佐藤圭（さとk）監修の英語塾 | 目黒の難関大学・高校受験対策英語塾でNO.1！【ENGLISH-X】</title>
</head>
<body>
    <header>
        <h1>
            <a href="https://englishx.jp">
                <img src="../img/logo.png">
            </a>
        </h1>
    </header>

        <div id="main_wrapper">
            <div id="main_content">

                <img src="../img/top.png">
                <div id="title">
                    <p>
                        <span>難関高校・難関大学合格</span>に向けた<br>
                        最速独自の<span>完全カスタマイズ授業</span>
                    </p>
                </div>

                <div id="">

                </div>

            </div>

        </div>

</body>
</html>
